a {
  text-decoration: none;
  color: var(--v-primary-lighten1);
}

.proot--text {
  font-family: "Oi", cursive !important;
  font-weight: 100 !important;
}

.theme--dark.v-navigation-drawer {
  background-color: var(--v-background-darken1) !important;
}

/*
 * Card
 */

.v-card__title {
  word-break: normal !important;
}

.v-card--link,
.v-card--link .v-image__image {
  transition: all 350ms ease-out;
}
.v-card--link:hover,
.v-card--link:hover .v-image__image {
  transition: all 100ms ease-in;
}
.v-card--link {
  background-color: var(--v-background-lighten1) !important;
}
.v-card--link:hover {
  background-color: var(--v-primary-base) !important;
}
.v-card--link .v-image__image {
  filter: sepia(0.3);
}
.v-card--link:hover .v-image__image {
  filter: sepia(0);
}
